* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}
:root {

/* Colors: */
--info-light-pressed: #998DD9;
--surface-normal-pressed: #CAD4DE;
--danger: #D21C1C;
--success-hover: #238B31;
--success: #28A138;
--warning: #E98305;
--warning-light-pressed: #F8D3AB;
--info-light: #EAE6FF;
--teal-light-pressed: #C0E8E4;
--teal-normal: #00A991;
--primary-pressed: #01508E;
--primary-hover: #0161AC;
--primary-light: #E8F4FD;
--secondary-light: #FFFAD2;
--dark-light-hover: #404854;
--dark-pressed: #0B0C0F;
--dark-hover: #181B20;
--dark-light: #6C717A;
--dark-light-pressed: #363D47;
--primary-light-pressed: #B4DBF8;
--primary-light-hover: #D0E9FB;
--surface-light-hover: #E5EAEF;
--surface-light-pressed: #D6DEE6;
--secondary-paragraph: #94A8BE;
--surface-light: #F5F7F9;
--secondary: #FFCF00;
--info: #6554C0;
--dark: #252A31;
--text-1: #FFFFFF;
--primary: #007ED9;
/* fonts  */
--font-regular: 500;
--font-light: 300;
--font-medium: 400;
}

body {
  background: var(--surface-light);
}
.navbar {
  color: var(--text-1);
  background-color: var(--primary);
}
.navbar-brand {
  font-style: italic;
  font-weight: 700;
}
.navbar-collapse {
  position: relative;
}
.navbar-nav {
  position: absolute;
  right: 0;
}
.active {
  position: relative;
}
.active:hover:after {
  position: absolute;
  content: '';
  height: 3px;
  width: 80%;
	background: var(--text-1);
}
.navbar a {
  color: var(--text-1);
  padding: 0 20px;
}
.navbar .navbar-nav li {
  padding: 0 10px;
}
.navbar .navbar-nav li a {
  color: var(--text-1);
  font-weight: var(--font-regular);
}
/* ----------- main content ----------------- */
.hero {
  padding-top: 100px;
  background: var(--dark);
}
.main {
  background: var(--dark);
  clip-path: polygon(0 0, 100% 0, 100% 22px, 0 100%);
  margin-top: -2px;
}
.clip-img {
  height: 300px;
}
.main-img {
  max-width: 700px;
  overflow: hidden;
}
.btn-custom {
  background: #00D0D8;
  padding: 8px;
  border-radius: 5px;
  text-transform: uppercase;
}
.left-content-wrapper {
  padding-top: 80px;
}
.btn-demo-2 {
  border: 7px solid rgb(0 0 0 / 65%);
  padding: 5px;
  color: var(--primary);
  background: var(--text-1);
  border-radius: 4px;
}
.get-started {
  padding: 50px 0px;
}
.get-started .card {
  border-radius: 20px;
}
.get-started .card .card-body {
  padding: 2rem;
}
.getstarted-text {
  font-size: 36px;
  color: var(--primary);
  max-width: 648px;
}
.contact-text {
  font-size: 24px;
  color: var(--dark);
  max-width: 648px;
}
.btn-demo {
  padding: 5px;
  color: var(--primary);
  background: var(--text-1);
  border: 7px solid rgb(37 42 49 / 15%);
  border-radius: 4px;
}
/* ----------   footer  ----------- */
.footer {
  color: var(--dark);
}
.footer a {
  color: var(--dark);
}
.footer .footer-top {
  padding: 74px 0 50px 0;
}

.footer .footer-top .footer-title {
  font-size: 1rem;
  margin-bottom: .875rem;
  letter-spacing: 0.8px;
  font-weight: var(--font-regular);
}

.footer .list-footer {
  list-style: none;
  padding-left: 0;
}

.footer .list-footer li a {
  display: block;
  padding: .325rem 0;
  text-decoration: none;
  letter-spacing: 0.8px;
}

.footer-bottom .footer-link {
  display: block;
  padding: .325rem 0;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.8px;
  font-weight: var(--font-light);
}
